/* html ------------------------------ */

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

/* ----------------------------------- */

/* wrappers -------------------------- */
#wrapper {
    display: block;
    min-height: 925px;
    width: 1150px;
    margin: 20px auto;
    border: 0.25px solid grey;
    border-radius: 2.5px;
}

#sub-wrapper {
    display: block;
    min-height: auto;
    width: 1100px;
    height: 800px;
    margin: 20px auto;
    /* border: 0.25px solid red; 
    /* for testing only*/
}
/* ----------------------------------- */

/* body ------------------------------ */
body {
    color: rgb(182, 178, 178);
    font-family: Courier New, monospace;
    font-size: 20px;
    background-color: black;

}
/* ----------------------------------- */

/* navigation bar -------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
}

/* responsible for the navigation bar's background color and border */
#page #wrapper #sub-wrapper #navigation-bar {
    align-items: center;
    padding: 10px;   
    background-color: rgb(15, 15, 15);
    border: 0.25px solid rgb(135, 132, 132);
    border-radius: 2.5px;
}

#page #wrapper #sub-wrapper #navigation-bar .internal-links a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(182, 178, 178);
    margin-right: 20px;
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a {
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a:hover {
    text-decoration: none;
    color: greenyellow;
    margin-right: 20px;
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a:active {
    text-decoration: none;
    color: orangered;
    margin-right: 20px;
}

/* ----------------------------------- */
