/* global variables ------------------ */
:root {
    --text-color: rgb(200, 200, 200); /* off-white */
    --link-color: #58a6ff; /* GitHub blue */
    --link-hover-color: greenyellow; /* Greenyellow */
    --link-active-color: orangered; /* Orangered */
    --background-color: black; /* Black */
    --border-color: grey; /* Grey */
}
/* ----------------------------------- */


/* html ------------------------------ */

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

/* ----------------------------------- */

/* wrappers -------------------------- */
#wrapper {
    display: block;
    min-height: content;
    width: 1150px;
    margin: 20px auto;
    border: 0.25px solid var(--border-color);
    border-radius: 2.5px;
}

#sub-wrapper {
    display: block;
    width: 1100px;
    height: content;
    margin: 20px auto;
    /* border: 0.25px solid red; 
    /* for testing only*/
}

/* ----------------------------------- */

/* body ------------------------------ */
body {
    color: var(--text-color);
    font-family: Courier New, monospace;
    font-size: 20px;
    background-color: var(--background-color);

}

/* ----------------------------------- */

/* navigation bar -------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
}

/* responsible for the navigation bar's background color and border */
#page #wrapper #sub-wrapper #navigation-bar {
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    border: 0.25px solid var(--border-color);
    border-radius: 2.5px;
}

#page #wrapper #sub-wrapper #navigation-bar .internal-links a {
    font-size: 40px;
    font-family: Courier New, monospace;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 20px;
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a {
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
    color: var(--link-color);
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
    margin-right: 20px;
}

#page #wrapper #sub-wrapper #navigation-bar .external-links a:active {
    text-decoration: none;
    color: var(--link-active-color);
    margin-right: 20px;
}

/* ----------------------------------- */

/* hero section -------------------------- */
#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-section #hero-section-image img {
    height: 300px;
    margin: 20px 0;
    margin-right: 20px;
    padding: 10px;
    border: 0.25px solid var(--border-color);
}

#hero-section #hero-section-text {
    font-size: 20px;
    font-family: Courier New, monospace;
    text-decoration: none;
    color: var(--text-color);
    margin: 10px 10px;
}

#hero-section #hero-section-text #hero-section-links {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    /* border: 0.25px solid var(--border-color); */
    /* for testing only */
}

#hero-section #hero-section-text #hero-section-links a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: var(--link-color);
    border: 0.25px solid var(--link-color);
    border-radius: 2.5px;
}

#hero-section #hero-section-text #hero-section-links a:hover {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: var(--link-hover-color);
    border: 0.25px solid var(--link-hover-color);
    border-radius: 2.5px;
}

#hero-section #hero-section-text #hero-section-links a:active {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: var(--link-active-color);
    border: 0.25px solid var(--link-active-color);
    border-radius: 2.5px;
}
/* --------------------------------------- */

/* footer ----------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 15px;
}

/* ----------------------------------- */