:root {
    --text-color: black;
    --border-color: black;
    --background-color: white;
    --link-color: purple;
    --link-hover-color: blue;
    --link-active-color: red;
    --link-visited-color: orange;
}

.parent {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.child {
    width: 1100px; 
    min-width: 850px;
    border: 1px solid black;
    border-radius: 2.5px;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color); 
}

a {
    text-decoration: none;
}

/* Navigation bar --------------------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left a {
    color: var(--text-color);
    font-size: 30px;
}

nav .right a {
    color: var(--link-color);
    padding: 0 15px;
}

nav .right a:hover {
    color: var(--link-hover-color);
}

nav .right a:active {
    color: var(--link-active-color);
}
/*----------------------------------------------------------*/

/*Section-1: Hero ------------------------------------------*/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 50px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    color: var(--link-color);
    display: inline-block;
    padding: 10px;
    border: 0.5px solid;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hero-section .text .links a:hover {
    color: var(--link-hover-color);
}

.hero-section .text .links a:active {
    color: var(--link-active-color);
}

.hero-section .image {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .image img {
    width: 400px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}
/*----------------------------------------------------------*/

/* Section 2: Skills ----------------------------------------*/
.skills-section {
    margin-bottom: 50px;
}

.skills-section h2 {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-section .cells .cell {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 2.5px;
    margin: 10px;
    gap: 10px;
    
}

.skills-section .cells .cell img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.skills-section .cells .cell span {
    font-size: 20px;
}
/*-----------------------------------------------------------*/

/* Section 3: Testimony -------------------------------------*/
.testimony-section {
    padding: 0px;
    margin-bottom: 50px;
}

.testimony-section h2 {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.testimony-section .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.testimony-section .group .personal-details {
    text-align: center;
    flex: 2;
}

.testimony-section .group .text {
    flex: 8;
}

.testimony-section .group .personal-details img {
    height: 400px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    object-fit: cover;
    margin-bottom: 10px;
    /* aspect-ratio: 1 / 1; */ /*for person pictures */
}

.testimony-section .group .personal-details p {
    font-weight: 600;
}

.testimony-section .group .personal-details p:last-child {
    font-weight: normal;
}
/*-----------------------------------------------------------*/

/*Section 4: Contact ----------------------------------------*/
.contact-section {
    
    margin-bottom: 50px;
}

.contact-section h2 {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 5;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid var(--border-color);
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(238, 238, 238);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.09s;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
}

.contact-section .group form button:active {
    filter: brightness(.7);
}
/*-----------------------------------------------------------*/